*, *::after, *::before{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  margin: 0;
  background-color: #efefef;
}

.block{
  width: 300px;
  height: 300px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpm0AXv9uGZD7IQKGrI10kmGPXytkQxo_t_gWCJvbt6QFL9VcWHCBnLT3sF2OXrv6xme4&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 5px dashed lightgray;
  border-radius: 0px 20px;
  padding: 20px;
  background-origin: border-box;
  -webkit-background-clip: text;
     -moz-background-clip: text;
      -ms-background-clip: text;
       -o-background-clip: text;
  font-size: 64px;
  font-weight: bold;
  color: transparent;
}

.gradient{
  height: 800px;
  background-image: linear-gradient(90deg, rgba(128, 20, 56, 1) 0%, rgba(128, 20, 56, 1) 50%,rgba(0, 0, 255, 0.5) 50%, rgba(0, 0, 255, 0.5) 100% );
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: 0% 50%;
  transition: all 0.5s;
}

.gradient:hover{
  background-position: 100% 50%;
}

header{
  height: 800px;
  background: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?cs=srgb&dl=pexels-pixabay-206359.jpg&fm=jpg") no-repeat 50% 50%/cover fixed;
}

main{
  max-width: 1280px;
  margin: auto;
  padding: 50px 0px;
}

section{
  height: 400px;
  margin-bottom: 20px;
  background-color: white;
}

.collage{
  height: 1000px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Attack_on_Titan_logo.svg/2560px-Attack_on_Titan_logo.svg.png") 98% 98%/250px, url("https://static.wikia.nocookie.net/attackontitan/images/2/25/%D0%A1%D0%B0%D1%88%D0%B01.png/revision/latest/top-crop/width/360/height/450?cb=20170212142635&path-prefix=uk") 20% bottom, url("https://avatanplus.com/files/resources/original/56f550f88d957153ae444b04.png") 10% 10%/200px, url("https://avatanplus.com/files/resources/original/57a9880ec668b1566e3b79dd.jpg") center bottom/cover;
  background-repeat: no-repeat;
}
