@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

html{
  font-size: 18px;
}

body{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
}

.nav{
  list-style: none;
  padding-inline-start: 0px;
  background-color: #9c27b0;
  text-align: center;
}

.nav li{
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
}

.content{
  max-width: 1000px;
  margin: auto;
  margin-bottom: 500px;
}

p{
  letter-spacing: .05rem;
}

a{
  font-size: 18px;
  color: #ffca28;
  text-decoration: none;
}

a:hover{
  color: red;
}

a:active{
  color: #b71c1c;
}

.YourClass a{
  display: flex;
  align-items: center;
}
